.sideBar {
    color: white;
    background-color: #BAB3D8;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 25px;
}

